body {
    background-color: black;
    color: lavenderblush;
    text-align: center;
    font-family: Arial, sans-serif;
}

#game-container {
    position: relative;
    width: 800px;
    height: 400px;
    margin: 20px auto;
    border: 2px solid black;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}