html,
body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    background-color: black;
    color: aliceblue;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    transition: background-color 0.6s, color 0.5s;
}

body[data-theme="light"] {
    background-color: lavender;
    color: black;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    transition: background-color 0.5s, color 0.5s;
}

button {
    display: inline-block;
    margin-top: 15px;
    padding: 8px 17px;
    background: rgb(65, 65, 65);
    color: lavender;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    transition: background-color 0.5s, color 0.5s;
}

body[data-theme="light"] button {
    background-color: lightgray;
    color: black;
}

button:hover {
    background-color: rgba(255, 199, 218, 0.582);
    color: black;
}

body[data-theme="light"] button:hover {
    background-color: black;
    color: plum;
}

.toggle-btn {
    margin: 20px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: rgb(65, 65, 65);
    color: lavender;
    text-decoration: none;
    font-size: 15px;
    position: absolute;
    top: 50px;
    right: 80px;
    transition: background-color 0.5s, color 0.5s;
}